# Configuración del Servidor
PORT=5000

# Configuración SMTP
SMTP_HOST=smtp.ejemplo.com
SMTP_PORT=587
SMTP_USER=tu_usuario@ejemplo.com
SMTP_PASS=tu_password_seguro

# Email de destino
RECEIVER_EMAIL=tu_correo_personal@ejemplo.com
